@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DynaPuff:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prociono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;   
   font-family: "Poppins", sans-serif;
}
body {
   background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
/* Navbar Styles */
.navbar {
   background: rgba(0, 6, 10, 0.8);
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(20px);
}
.navbar .nav-link {
   color: #fff;
   font-size: 18px;
   transition: color 0.3s;
   font-weight: 300;
   font-family: "Poppins", sans-serif;
}
.navbar .nav-link:hover {
   color: #41B3A2;
}
.dropdown-menu {
   background-color: #ecf0f1;
   border-radius: 8px;
   border: none;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
   padding: 10px 0;
}
.dropdown-menu .dropdown-item {
   padding: 10px 20px;
   transition: background-color 0.3s ease, color 0.3s ease;
}
.dropdown-menu .dropdown-divider {
   margin: 0.5rem 0;
   border-color: #bdc3c7;
}
/* login */
.form-box {
   width:100%;
   padding: 5px;
 }
 .wrapper .form-box.login {
   transition: transform .18s ease;
   transform: translateX(0);
 }
 .wrapper.active .form-box.login {
   transition: none;
   transform:translateX(-400px);
 }
 .wrapper .form-box.register {
   position:absolute;
   transition: none;
   transform:translateX(400px);
 }
 .wrapper.active .form-box.register {
   transition: transform .18s ease;
   transform: translateX(0);
 }
 .form-box h2 {
   font-size: 2em;
   text-align: center;
 }
 .input-box {
   position:relative;
   width:100%;
   height:50px;
   border-bottom: 2px solid;
   margin:30px 0;
 }
 .input-box input {
   width:100%;
   height:100%;
   background: transparent;
   border:none;
   outline:none;
 }
 .input-box .icon {
   position:absolute;
   right:8px;
   font-size:1.2em;
   line-height: 54px;
 }
 .remember-forgot {
   font-size: .9em;
   font-weight:500;
   margin:-15px 0 15px;
   display:flex;
   justify-content: space-between;
 }
 .remember-forgot label input {
   margin-right:3px;
 }
 .remember-forgot a {
   text-decoration: none;
 }
 .remember-forgot a:hover {
   text-decoration: underline;
 }
 .btnlog, .btnlgggl {
   width:100%;
   height:45px;
   border:none;
   outline:none;
   border-radius:6px;
   cursor:pointer;
   font-size:1em;
   color:white;
   font-weight:500;
   margin:5.14px;
 }
 .btnlgggl {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   gap:5.14px;
 }
:is(.btnlog,.btnlgggl) {
   background: rgb(22,0,36);
   background: linear-gradient(90deg, rgb(9, 88, 70) 0%, rgb(13, 97, 74) 45%, rgb(2, 34, 23) 100%);
}
.blog {
  color: #000;
  padding: 50px 0;
}
.blog .lo{
  font-family: "Poppins", sans-serif;
}
.details {
  font-family: Arial, sans-serif;
  color: #666363;
  line-height: 1.6;
}
.details h1, .details h2 {
  color: #2c3e50;
  margin-top: 20px;
  font-weight: bold;
}
.details h1 {
  font-size: 2.5rem;
}
.details h2 {
  font-size: 1.75rem;
}
.details hr {
  border: 0;
  height: 1px;
  background-color: #bdc3c7;
  margin-top: 15px;
  margin-bottom: 20px;
}
.details .img-fluid {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.details .content p,
.details .kesimpulan p {
    text-align: justify;
}
.details ul {
  list-style: none;
  padding-left: 0;
}
.details ul li {
  margin-top: 15px;
  display: flex;
}
.details ul li span {
  font-weight: bold;
  color: #2980b9;
}
.details ul li p {
  margin-left: 10px;
}
.sidebar{
  position: sticky;
}
.sidebar h5{
  color: black;
}
.box img{
  border-radius: 10px;
}
.box h6{
  color: black;
}
/* footer */
.footer{
  background-image: url(img/bg.jpg);
  color: black;
}
.footer .yow{
  cursor: pointer;
  transition: 0.5s ease;
}
.footer .yiw h6{
  padding: 10px;
}
.footer .yow h6{
  padding: 10px;
}
.footer .yow h6:hover{
  transform: translateX(10px);
  transition: 0.6s;
}